/*--Brand colors--*/
$primary-color: #344955;
$secondary-color: #F9AA33;
$tertiary-color: #232F34;
$complementary-color: #4A6572;

$black-light: #1c1b1b;
$black-dark: #0a0909;

$white-light: #FFFFFF;

$gray-300: #444444;
$gray-400: #2c2c2c;
$gray-500: #a3a3a3;
$gray-800: #FBFAFA;