@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?81vtmx');
  src:  url('fonts/icomoon.eot?81vtmx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?81vtmx') format('truetype'),
    url('fonts/icomoon.woff?81vtmx') format('woff'),
    url('fonts/icomoon.svg?81vtmx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-email:before {
  content: "\e93b";
}
.icon-GithubLogo:before {
  content: "\e91b";
}
.icon-airplay:before {
  content: "\e900";
}
.icon-alert-triangle:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-up-right:before {
  content: "\e904";
}
.icon-at-sign:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-box:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-circle:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-code:before {
  content: "\e90d";
}
.icon-codepen:before {
  content: "\e90e";
}
.icon-compass:before {
  content: "\e90f";
}
.icon-copy:before {
  content: "\e910";
}
.icon-cpu:before {
  content: "\e911";
}
.icon-database:before {
  content: "\e912";
}
.icon-dollar-sign:before {
  content: "\e913";
}
.icon-droplet:before {
  content: "\e914";
}
.icon-eye:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-figma:before {
  content: "\e917";
}
.icon-gift:before {
  content: "\e918";
}
.icon-git-branch:before {
  content: "\e919";
}
.icon-git-commit:before {
  content: "\e91a";
}
.icon-gitlab:before {
  content: "\e91c";
}
.icon-git-merge:before {
  content: "\e91d";
}
.icon-git-pull-request:before {
  content: "\e91e";
}
.icon-globe:before {
  content: "\e91f";
}
.icon-grid:before {
  content: "\e920";
}
.icon-hash:before {
  content: "\e921";
}
.icon-heart:before {
  content: "\e922";
}
.icon-home:before {
  content: "\e923";
}
.icon-instagram:before {
  content: "\e924";
}
.icon-layers:before {
  content: "\e925";
}
.icon-linkedin:before {
  content: "\e926";
}
.icon-lock:before {
  content: "\e927";
}
.icon-map:before {
  content: "\e928";
}
.icon-map-pin:before {
  content: "\e929";
}
.icon-mic:before {
  content: "\e92a";
}
.icon-monitor:before {
  content: "\e92b";
}
.icon-moon:before {
  content: "\e92c";
}
.icon-pen-tool:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-send:before {
  content: "\e92f";
}
.icon-settings:before {
  content: "\e930";
}
.icon-share-2:before {
  content: "\e931";
}
.icon-shield:before {
  content: "\e932";
}
.icon-shopping-cart:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e934";
}
.icon-sun:before {
  content: "\e935";
}
.icon-thumbs-up:before {
  content: "\e936";
}
.icon-twitter:before {
  content: "\e937";
}
.icon-user:before {
  content: "\e938";
}
.icon-x:before {
  content: "\e939";
}
.icon-zap:before {
  content: "\e93a";
}
